*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: fixed;
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}

.logo-container img {
    margin-top: 20px;
    height: 60px; /* Ajusta el tamaño según necesites */
}

.moverse{
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out;
}

.invisibleA{
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in;
}

header.scrolled {
    background-color: #ffffff; 
}

.sinItem{
    list-style: none;
}
.sinBorde{
    border: none;
}

.bordeRojo{
    border: 3px solid red;
}

.fondoGris{
    background-color: rgb(48, 47, 47); 
}
.fondoBlanco{
    background-color: white;
}
.fondoNegro{
    background-color: black;
}
.fondoTransparente{
    background-color: #ffffff00;
}
.blanco{
    color: white;
}
.negro{
    color: black;
}

.fuente{
    font-family: "Quicksand", sans-serif;
}
h2{
    font-weight: 300;
    font-size: 1.4em;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
}
h3{
    font-size: 1.5em;
    font-weight: 300;
}

.df{
    display: flex;
}
.fEnd{
    justify-content: end;
}
.columna{
    flex-direction: column;
}
.centerX{
    justify-content: center;
}
.centerY{
    align-items: center;
}
.spaceb{
    justify-content: space-between;
}
.spacea{
    justify-content: space-around;
}
.spacee{
    justify-content: space-evenly;
}
.objCover{
    object-fit: cover;
}

.h100{
    height: 100%;
}
.h50{
    height: 50%;
}

.vh100{
    min-height: 100vh;
}
.vh90{
    min-height: 90vh;
}
.vh80{
    min-height: 80vh;
}
.vh70{
    min-height: 70vh;
}
.vh60{
    height: 60vh;
}
.vh40{
    height: 40vh;
}
.vh30{
    height: 30vh;
}
.vh25{
    height: 25vh;
}
.vh10{
    height: 10vh;
}

.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width:30%;
}
.w20{
    width: 20%;
}
.w15{
    width: 15%;
}

.posAb{
    position: absolute;
}
.posRel{
    position: relative;
}

div ul{
    margin-left: 2em;
}

#slider div button{
    border: none;
    background-color: #ffffff00;
}

.marginTop4{
    margin-top: 4em;
}

#carrera{
    margin-left: 5em;
}


#contCuadros{

    margin-top: 3em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#grilla1, #grilla2, #grilla3{

    display: flex;
    flex-direction: column;
    gap: 1em;

}

#contCuadros img:hover{
    filter: brightness(50%);
    z-index: 1;
}

i{
    font-size: 1.8em;
}

h4{
    font-size: 1.5em;
}

p{
    font-size: clamp(14px, 18px, 20px);
}

footer{
    margin-top: 7em;
    height: 20vh;
}

dialog{
    max-width: 50%;
    top: 50%; /* Posiciona en el 50% del viewport vertical */
    left: 50%; /* Posiciona en el 50% del viewport horizontal */
    transform: translate(-50%, -50%); /* Centra el modal ajustando el desplazamiento */
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.8);
}

dialog img{
    max-height: 90vh;
    display: block;
}

#imagen3{
    height: 77.8vh;
}

#imagen4{
    height: 59.4vh;
}

dialog div{
    top: 20%;
    left: 20%;
}

#botonDerecha{
    left: 85%;
    top: 45%;
}

#botonIzquierda{
    top: 45%;
    right: 85%;
}

#botonDerecha, #botonIzquierda, #botonCerrar{
    padding: 0.5em;
    border-radius: 20px;
}

#botonCerrar{
    left: 5%;
    top: 4%;
}

.opacidadBaja{
    opacity: 0.1;
}

.invisible{
    display: none;
}

.iconoRed{
    font-size: clamp(25px, 20px, 24px);
    margin-right: 15px;
}

.rights{
    align-items: end;
    color: gray;
    text-align: right;
}


@media (max-width: 960px){

        .bordeVerde{
            border: 3px solid greenyellow;
        }

        .visibleT{
            display: block;
        }
        .invisibleT{
            display: none;
        }

        /*menu hamburguesa - se puede resumir desp con clases utiles*/

        #abrir-menu, #cerrar-menu{
            display: block;           
        }

        #abrir-menu{
            font-size: 1.3em;
        }

        #cerrar-menu{
            font-size: 1em;
        }
    
        #nav{
            opacity: 0;
            visibility: hidden;
    
            height: 100vh;
            width: 30%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1em;
            top: 0;
            right: 0;
            padding: 3em;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,0.7);
        }
    
        #nav.visible{
            opacity: 1;
            visibility: visible;
        }
    
        #nav-list{
            height: 20vh;
            flex-direction: column;
            align-items: end;
        }

        #nav-list li a{
            color: black;
        }

        .w100t{
            width: 100%;
        }
        .w90t{
            width: 90%;
        }
        .w80t{
            width: 80%;
        }
        .w70t{
            width: 70%;
        }

        .vh10t{
            height: 15vh;
        }

        #imagen3{
            height: 50vh;
        }
        #imagen4{
            height: 39.4vh;
        }
        #imagen8{
            height: 31.5vh;
        }

        footer{
            height: 30vh;
        }

        .footerT{
            display: flex;
        }


}

@media (max-width: 480px){

    .invisibleM{
        display: none;
    }

    #nav{
        width: 50%;
    }

    .w100m{
        width: 100%;
    }
    .w90m{
        width: 90%;
    }
    .w80m{
        width: 80%;
    }
    .w70m{
        width: 70%;
    }
    .w30m{
        width: 30%;
    }

    .vh100m{
        min-height: 100vh;
    }
    .vh80m{
        min-height: 80vh;
    }
    .vh70m{
        min-height: 70vh;
    }
    .vh60m{
        height: 60vh;
    }
    .vh45m{
        height: 45vh;
    }
    .vh30m{
        height: 30vh;
    }
    .vh20m{
        height: 20vh;
    }

    .dfm{
        display: flex;
    }
    .centerYm{
        align-items: center;
    }
    .columnaM{
        flex-direction: column;
    }
    .spaceaM{
        justify-content: space-around;
    }
    .spacebM{
        justify-content: space-between;
    }

    .fitContentM{
        width: fit-content;
    }

    .separarLineas{
        line-height: 1.6em;
    }

    .marginTop2m{
        margin-top: 2em;
    }

    .marginTop8m{
        margin-top: 8em;
    }

    #contCuadros{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    dialog {
        min-width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    }

    #carrera{
        margin-left: 2em;
    }

    .rights{
        align-items: center;
        text-align: center;
    }

    .contactF{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        justify-content: center;
    }

}
